<?xml version="1.0" encoding="utf-8"?>
<manifest package="space.zero.kosmos"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <!-- 写入sd卡权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 读取sd卡权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!-- 震动 -->
    <uses-permission android:name="android.permission.VIBRATE"/>

    <!-- 增加文件存储和访问摄像头的权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name="space.zero.kosmos.mos.base.App"
        android:allowBackup="true"
        android:icon="@drawable/rinn_kakashi_s"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="donut">
        <meta-data
            android:name="space.zero.kosmos.mos.tools.glide.GlidePicModule"
            android:value="GlideModule"/>
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="face"/>

        <meta-data
            android:name="design_width"
            android:value="1080">
        </meta-data>
        <meta-data
            android:name="design_height"
            android:value="1920">
        </meta-data>

        <activity
            android:name="space.zero.kosmos.kos.aui.activity.SplashActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/kosmos_ransparent_activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="space.zero.kosmos.kos.aui.activity.MainActivity"/>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
        <!-- 声明widget对应的AppWidgetProvider -->
        <!--
        <receiver android:name=".WidgetProvider">
            //Android系统定义的格式，不能更改，不能打错
            <meta-data
            android:name="android.appwidget.provider"
            android:resource="@xml/appwidget_info"> //引用的在res/xml下创建的文件
            </meta-data>

        <intent-filter>
            //这个是接收广播时的过滤器 Android定义的,不能修改
            <action android:name="android.appwidget.action.APPWIDGET_UPDATE"></action>
        </intent-filter>
    </receiver>
        -->
        <receiver android:name="space.zero.kosmos.kos.service.WidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="com.kosmos.widget.UPDATE_ALL"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_info"/>
        </receiver>

        <!-- <service android:name=".service.WidgetService"/> -->
        <service android:name="space.zero.kosmos.kos.service.TimeService"/>

        <activity android:name="space.zero.kosmos.kos.aui.activity.ZhiFuActivity"/>
        <activity android:name="space.zero.kosmos.kos.aui.activity.TimeActivity"/>
        <activity android:name="space.zero.kosmos.kos.aui.activity.ThemeActivity"/>
        <activity android:name="space.zero.kosmos.kos.aui.activity.FaceActivity"/>
        <activity android:name="space.zero.kosmos.mos.widget.face.camera.CameraActivity"/>
        <activity android:name="space.zero.kosmos.mos.tools.photos.PhotoPickerActivity"/>
    </application>

</manifest>